       <!-- ローディング画面 -->
    <%#<%= render "shared/loading"%>
       <!--トップページ -->
      <div class="hero">
        <div class="image-top">
        <%= image_tag 'toppath.jpg', class:'hero-image'%>
      </div>
        <h1 class="title">Pet Life Support</h1>
    </div>
    <!-- ナビゲーションメニュー -->
    <%= render "shared/nav_meny"%>